In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#Read in files
csv_path_schools = os.path.join("..","Resources","raw_data","schools_complete.csv")
csv_path_students = os.path.join("..","Resources","raw_data","students_complete.csv")

school_data = pd.read_csv(csv_path_schools)
student_data = pd.read_csv(csv_path_students)

In [3]:
#Initial test
#school_data.head()
#student_data.head()
#school_data.count()
#student_data.count()

In [4]:
#user defined functions
def format_to_nice_number(series_to_change):  
    series_to_change=series_to_change.map("{:,.0f}".format)
    return series_to_change;

def format_to_perc(series_to_change):  
    series_to_change=series_to_change.map("{:,.2f}%".format)
    return series_to_change;

def format_to_dollars( series_to_change ):  
    series_to_change=series_to_change.map("${:,.0f}".format)
    return series_to_change;

def format_to_plain_number(series_to_change):
    series_to_change=series_to_change.replace({'\%': '','\$': '', ',': ''}, regex=True)
    series_to_change = series_to_change.apply(pd.to_numeric)
    return series_to_change;

In [5]:
#Since the threshold for passing was left undeclared in the assignment, this allows the user to enter it in
set_passing_grade = True
while (set_passing_grade):
    passing_grade=int(input("Please enter the lowest, numeric, passing grade: "))
    set_passing_grade=False
    if (passing_grade<0) | (passing_grade>100):
        print("Please enter a number between 0 and 100.")
        set_passing_grade=True

Please enter the lowest, numeric, passing grade: 70

In [6]:
# **District Summary**

# * Create a high level snapshot (in table form) of the district's key metrics, including:
#   * Total Schools
#   * Total Students
#   * Total Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)
total_schools = len(school_data["name"])
total_students = len(student_data["name"])
total_budget = school_data["budget"].sum()
avg_math = student_data["math_score"].mean()
avg_read = student_data["reading_score"].mean()
math_pass_view = student_data.loc[student_data["math_score"]>=passing_grade,:]
pass_math_perc = (len(math_pass_view)/total_students)*100
read_pass_view = student_data.loc[student_data["reading_score"]>=passing_grade,:]
pass_read_perc = (len(read_pass_view)/total_students)*100
overall_pass_perc = (pass_math_perc + pass_read_perc)/2

district_summary=pd.DataFrame({"Total Schools":[total_schools],"Total Students":[total_students],"Total Budget":[total_budget],"Average Math Score":[avg_math],
                              "Average Reading Score":[avg_read],"% Passing Math":[pass_math_perc],"% Passing Reading":[pass_read_perc],"Overall Passing Rate":[overall_pass_perc]})
district_summary=district_summary[["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]

#format before printing out
to_perc=["% Passing Math","% Passing Reading", "Overall Passing Rate"]
for x in to_perc:
    district_summary[x]=format_to_perc(district_summary[x])

to_plain=["Average Math Score","Average Reading Score"]
for x in to_plain:
    district_summary[x]=format_to_nice_number(district_summary[x])
    
to_dollars=["Total Budget"]
for x in to_dollars:
    district_summary[x]=format_to_dollars(district_summary[x])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428",79,82,74.98%,85.81%,80.39%

In [7]:
#rename the school name columns to match so that both dataframes can be merged
school_data=school_data.rename(columns={"name":"school name"})
student_data=student_data.rename(columns={"school":"school name"})

In [8]:
# **School Summary**

# * Create an overview table that summarizes key metrics about each school, including:
#   * School Name
#   * School Type
#   * Total Students
#   * Total School Budget
#   * Per Student Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)
all_stats =  pd.merge(school_data, student_data, on="school name")
#all_stats

In [9]:
sorted_stats=all_stats.groupby(by="school name")
school_summary=pd.DataFrame(sorted_stats.mean())
school_summary["type"]=sorted_stats["type"].unique()#.astype(str)
school_summary["per student budget"]=school_summary["budget"]/school_summary["size"]

only_pass_math=pd.DataFrame(all_stats.loc[all_stats["math_score"]>=passing_grade,["school name","math_score"]])
sorted_math=only_pass_math.groupby(by="school name")
school_summary["% passing math"]=sorted_math["school name"].count()/school_summary["size"]*100

only_pass_reading=pd.DataFrame(all_stats.loc[all_stats["reading_score"]>=passing_grade,["school name","reading_score"]])
sorted_reading=only_pass_reading.groupby(by="school name")
school_summary["% passing math"]=sorted_math["school name"].count()/school_summary["size"]*100
school_summary["% passing reading"]=sorted_reading["school name"].count()/school_summary["size"]*100
school_summary["overall passing rate"]=(school_summary["% passing math"]+school_summary["% passing reading"])/2

#format

school_summary=school_summary.rename(columns={"per student budget":"Budget Per Student","size":"Total Students","budget":"Budget","reading_score":"Average Reading Score",
                                              "math_score":"Average Math Score","type":"School Type","% passing math":"% Passing Math",
                                              "% passing reading":"% Passing Reading","overall passing rate":"Overall Passing Rate"})
school_summary = school_summary.drop("Student ID",1)
school_summary["Total Students"]=format_to_nice_number(school_summary["Total Students"])
school_summary["Budget"]=format_to_dollars(school_summary["Budget"])
school_summary["Budget Per Student"]=format_to_dollars(school_summary["Budget Per Student"])
school_summary["% Passing Math"]=format_to_perc(school_summary["% Passing Math"])
school_summary["% Passing Reading"]=format_to_perc(school_summary["% Passing Reading"])
school_summary["Overall Passing Rate"]=format_to_perc(school_summary["Overall Passing Rate"])
school_summary

,School ID,Total Students,Budget,Average Reading Score,Average Math Score,School Type,Budget Per Student,% Passing Math,% Passing Reading,Overall Passing Rate
school name,,,,,,,,,,
Bailey High School,7.0,"4,976","$3,124,928",81.033963,77.048432,[District],$628,66.68%,81.93%,74.31%
Cabrera High School,6.0,"1,858","$1,081,356",83.975780,83.061895,[Charter],$582,94.13%,97.04%,95.59%
Figueroa High School,1.0,"2,949","$1,884,411",81.158020,76.711767,[District],$639,65.99%,80.74%,73.36%
Ford High School,13.0,"2,739","$1,763,916",80.746258,77.102592,[District],$644,68.31%,79.30%,73.80%
Griffin High School,4.0,"1,468","$917,500",83.816757,83.351499,[Charter],$625,93.39%,97.14%,95.27%
Hernandez High School,3.0,"4,635","$3,022,020",80.934412,77.289752,[District],$652,66.75%,80.86%,73.81%
Holden High School,8.0,427,"$248,087",83.814988,83.803279,[Charter],$581,92.51%,96.25%,94.38%
Huang High School,0.0,"2,917","$1,910,635",81.182722,76.629414,[District],$655,65.68%,81.32%,73.50%
Johnson High School,12.0,"4,761","$3,094,650",80.966394,77.072464,[District],$650,66.06%,81.22%,73.64%
Pena High School,9.0,962,"$585,858",84.044699,83.839917,[Charter],$609,94.59%,95.95%,95.27%
Rodriguez High School,11.0,"3,999","$2,547,363",80.744686,76.842711,[District],$637,66.37%,80.22%,73.29%
Shelton High School,2.0,"1,761","$1,056,600",83.725724,83.359455,[Charter],$600,93.87%,95.85%,94.86%
Thomas High School,14.0,"1,635","$1,043,130",83.848930,83.418349,[Charter],$638,93.27%,97.31%,95.29%
Wilson High School,5.0,"2,283","$1,319,574",83.989488,83.274201,[Charter],$578,93.87%,96.54%,95.20%
Wright High School,10.0,"1,800","$1,049,400",83.955000,83.682222,[Charter],$583,93.33%,96.61%,94.97%

In [10]:
# **Top Performing Schools (By Passing Rate)**

# * Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
#   * School Name
#   * School Type
#   * Total Students
#   * Total School Budget
#   * Per Student Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)

top_schools=school_summary.sort_values(["Overall Passing Rate"], ascending=False)
top_schools=top_schools.iloc[0:5,:]
top_schools=top_schools[["School Type","Total Students","Budget","Budget Per Student","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
top_schools

,School Type,Total Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school name,,,,,,,,,
Cabrera High School,[Charter],"1,858","$1,081,356",$582,83.061895,83.975780,94.13%,97.04%,95.59%
Thomas High School,[Charter],"1,635","$1,043,130",$638,83.418349,83.848930,93.27%,97.31%,95.29%
Griffin High School,[Charter],"1,468","$917,500",$625,83.351499,83.816757,93.39%,97.14%,95.27%
Pena High School,[Charter],962,"$585,858",$609,83.839917,84.044699,94.59%,95.95%,95.27%
Wilson High School,[Charter],"2,283","$1,319,574",$578,83.274201,83.989488,93.87%,96.54%,95.20%

In [11]:
# **Bottom Performing Schools (By Passing Rate)**

bottom_schools=school_summary.sort_values(["Overall Passing Rate"], ascending=True)
bottom_schools=bottom_schools.iloc[0:5,:]
bottom_schools=bottom_schools[["School Type","Total Students","Budget","Budget Per Student","Average Math Score",
                               "Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
bottom_schools

,School Type,Total Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school name,,,,,,,,,
Rodriguez High School,[District],"3,999","$2,547,363",$637,76.842711,80.744686,66.37%,80.22%,73.29%
Figueroa High School,[District],"2,949","$1,884,411",$639,76.711767,81.158020,65.99%,80.74%,73.36%
Huang High School,[District],"2,917","$1,910,635",$655,76.629414,81.182722,65.68%,81.32%,73.50%
Johnson High School,[District],"4,761","$3,094,650",$650,77.072464,80.966394,66.06%,81.22%,73.64%
Ford High School,[District],"2,739","$1,763,916",$644,77.102592,80.746258,68.31%,79.30%,73.80%

In [12]:
# **Math Scores by Grade**

# * Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#grade_math_stats=all_stats.groupby(["school name","grade"]).mean()
all_stats["grade"] = pd.Categorical(all_stats["grade"], ["9th", "10th", "11th", "12th"])
grade_math_stats=all_stats.groupby(["school name","grade"]).mean()
grade_math_stats=grade_math_stats[["math_score"]]
grade_math_stats=grade_math_stats.rename(columns={"math_score":"Average Math Score"})
grade_math_stats

                             Average Math Score
school name           grade
Bailey High School    9th             77.083676
                      10th            76.996772
                      11th            77.515588
                      12th            76.492218
Cabrera High School   9th             83.094697
                      10th            83.154506
                      11th            82.765560
                      12th            83.277487
Figueroa High School  9th             76.403037
                      10th            76.539974
                      11th            76.884344
                      12th            77.151369
Ford High School      9th             77.361345
                      10th            77.672316
                      11th            76.918058
                      12th            76.179963
Griffin High School   9th             82.044010
                      10th            84.229064
                      11th            83.842105
                      12th            83.356164
Hernandez High School 9th             77.438495
                      10th            77.337408
                      11th            77.136029
                      12th            77.186567
Holden High School    9th             83.787402
                      10th            83.429825
                      11th            85.000000
                      12th            82.855422
Huang High School     9th             77.027251
                      10th            75.908735
                      11th            76.446602
                      12th            77.225641
Johnson High School   9th             77.187857
                      10th            76.691117
                      11th            77.491653
                      12th            76.863248
Pena High School      9th             83.625455
                      10th            83.372000
                      11th            84.328125
                      12th            84.121547
Rodriguez High School 9th             76.859966
                      10th            76.612500
                      11th            76.395626
                      12th            77.690748
Shelton High School   9th             83.420755
                      10th            82.917411
                      11th            83.383495
                      12th            83.778976
Thomas High School    9th             83.590022
                      10th            83.087886
                      11th            83.498795
                      12th            83.497041
Wilson High School    9th             83.085578
                      10th            83.724422
                      11th            83.195326
                      12th            83.035794
Wright High School    9th             83.264706
                      10th            84.010288
                      11th            83.836782
                      12th            83.644986

In [13]:

# **Reading Scores by Grade**

# * Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
grade_read_stats=all_stats.groupby(["school name","grade"], sort=True).mean()
grade_read_stats=grade_read_stats[["reading_score"]]
grade_read_stats=grade_read_stats.rename(columns={"reading_score":"Average Reading Score"})
grade_read_stats

                             Average Reading Score
school name           grade
Bailey High School    9th                81.303155
                      10th               80.907183
                      11th               80.945643
                      12th               80.912451
Cabrera High School   9th                83.676136
                      10th               84.253219
                      11th               83.788382
                      12th               84.287958
Figueroa High School  9th                81.198598
                      10th               81.408912
                      11th               80.640339
                      12th               81.384863
Ford High School      9th                80.632653
                      10th               81.262712
                      11th               80.403642
                      12th               80.662338
Griffin High School   9th                83.369193
                      10th               83.706897
                      11th               84.288089
                      12th               84.013699
Hernandez High School 9th                80.866860
                      10th               80.660147
                      11th               81.396140
                      12th               80.857143
Holden High School    9th                83.677165
                      10th               83.324561
                      11th               83.815534
                      12th               84.698795
Huang High School     9th                81.290284
                      10th               81.512386
                      11th               81.417476
                      12th               80.305983
Johnson High School   9th                81.260714
                      10th               80.773431
                      11th               80.616027
                      12th               81.227564
Pena High School      9th                83.807273
                      10th               83.612000
                      11th               84.335938
                      12th               84.591160
Rodriguez High School 9th                80.993127
                      10th               80.629808
                      11th               80.864811
                      12th               80.376426
Shelton High School   9th                84.122642
                      10th               83.441964
                      11th               84.373786
                      12th               82.781671
Thomas High School    9th                83.728850
                      10th               84.254157
                      11th               83.585542
                      12th               83.831361
Wilson High School    9th                83.939778
                      10th               84.021452
                      11th               83.764608
                      12th               84.317673
Wright High School    9th                83.833333
                      10th               83.812757
                      11th               84.156322
                      12th               84.073171

In [14]:
#remove the formatting so we can do further calculations

to_change=["Budget Per Student","Overall Passing Rate","% Passing Math","% Passing Reading"]
for x in to_change:
    school_summary[x]=format_to_plain_number(school_summary[x])

In [15]:
# **Scores by School Spending**

# * Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)

spending_stats=pd.cut(school_summary["Budget Per Student"], [-float("inf"),594,616,638,float("inf")], labels=["1. low funding $0-594", "2. med funding $594-616", "3. high funding $616-638","4. top funding $638+"],include_lowest=True)
spending_stats_df=pd.DataFrame(spending_stats)
spending_scores=school_summary
spending_scores["Spending Level"]=spending_stats_df
spending_scores_df=pd.DataFrame(spending_scores)
spending_summary=spending_scores_df.groupby(["Spending Level","school name"]).mean()

#formatting
spending_summary=spending_summary[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
spending_summary["% Passing Math"]=format_to_perc(spending_summary["% Passing Math"])
spending_summary["% Passing Reading"]=format_to_perc(spending_summary["% Passing Reading"])
spending_summary["Overall Passing Rate"]=format_to_perc(spending_summary["Overall Passing Rate"])
spending_summary

                                                Average Math Score  \
Spending Level           school name
1. low funding $0-594    Cabrera High School             83.061895
                         Holden High School              83.803279
                         Wilson High School              83.274201
                         Wright High School              83.682222
2. med funding $594-616  Pena High School                83.839917
                         Shelton High School             83.359455
3. high funding $616-638 Bailey High School              77.048432
                         Griffin High School             83.351499
                         Rodriguez High School           76.842711
                         Thomas High School              83.418349
4. top funding $638+     Figueroa High School            76.711767
                         Ford High School                77.102592
                         Hernandez High School           77.289752
                         Huang High School               76.629414
                         Johnson High School             77.072464

                                                Average Reading Score  \
Spending Level           school name
1. low funding $0-594    Cabrera High School                83.975780
                         Holden High School                 83.814988
                         Wilson High School                 83.989488
                         Wright High School                 83.955000
2. med funding $594-616  Pena High School                   84.044699
                         Shelton High School                83.725724
3. high funding $616-638 Bailey High School                 81.033963
                         Griffin High School                83.816757
                         Rodriguez High School              80.744686
                         Thomas High School                 83.848930
4. top funding $638+     Figueroa High School               81.158020
                         Ford High School                   80.746258
                         Hernandez High School              80.934412
                         Huang High School                  81.182722
                         Johnson High School                80.966394

                                               % Passing Math  \
Spending Level           school name
1. low funding $0-594    Cabrera High School           94.13%
                         Holden High School            92.51%
                         Wilson High School            93.87%
                         Wright High School            93.33%
2. med funding $594-616  Pena High School              94.59%
                         Shelton High School           93.87%
3. high funding $616-638 Bailey High School            66.68%
                         Griffin High School           93.39%
                         Rodriguez High School         66.37%
                         Thomas High School            93.27%
4. top funding $638+     Figueroa High School          65.99%
                         Ford High School              68.31%
                         Hernandez High School         66.75%
                         Huang High School             65.68%
                         Johnson High School           66.06%

                                               % Passing Reading  \
Spending Level           school name
1. low funding $0-594    Cabrera High School              97.04%
                         Holden High School               96.25%
                         Wilson High School               96.54%
                         Wright High School               96.61%
2. med funding $594-616  Pena High School                 95.95%
                         Shelton High School              95.85%
3. high funding $616-638 Bailey High School               81.93%
                         Griffin High School              97.14%
                         Rodriguez High School            80.22%
                         Thomas High School               97.31%
4. top funding $638+     Figueroa High School             80.74%
                         Ford High School                 79.30%
                         Hernandez High School            80.86%
                         Huang High School                81.32%
                         Johnson High School              81.22%

                                               Overall Passing Rate
Spending Level           school name
1. low funding $0-594    Cabrera High School                 95.59%
                         Holden High School                  94.38%
                         Wilson High School                  95.20%
                         Wright High School                  94.97%
2. med funding $594-616  Pena High School                    95.27%
                         Shelton High School                 94.86%
3. high funding $616-638 Bailey High School                  74.31%
                         Griffin High School                 95.27%
                         Rodriguez High School               73.29%
                         Thomas High School                  95.29%
4. top funding $638+     Figueroa High School                73.36%
                         Ford High School                    73.80%
                         Hernandez High School               73.81%
                         Huang High School                   73.50%
                         Johnson High School                 73.64%

In [16]:
#remove formatting for more calculations

to_change=["Overall Passing Rate","% Passing Math","% Passing Reading"]
for x in to_change:
    spending_summary[x]=format_to_plain_number(spending_summary[x])

In [17]:
finale_spending=spending_summary.groupby(["Spending Level"]).mean()
finale_spending=finale_spending[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]

#format 

for x in to_change:
    finale_spending[x]=format_to_perc(finale_spending[x])

finale_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Level,,,,,
1. low funding $0-594,83.455399,83.933814,93.46%,96.61%,95.03%
2. med funding $594-616,83.599686,83.885211,94.23%,95.90%,95.06%
3. high funding $616-638,80.165248,82.361084,79.93%,89.15%,84.54%
4. top funding $638+,76.961198,80.997561,66.56%,80.69%,73.62%

In [18]:
#remove formatting

school_summary["Total Students"]=format_to_plain_number(school_summary["Total Students"])

In [19]:
# **Scores by School Size**

# * Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

size_stats=pd.cut(school_summary["Total Students"], 3,labels=["Small","Medium","Large"], include_lowest=True)
size_stats_df=pd.DataFrame(size_stats)
size_scores=school_summary
size_scores["size category"]=size_stats_df
size_scores_df=pd.DataFrame(size_scores)
size_summary=size_scores_df.groupby(["size category","school name"]).mean()

size_summary=size_summary[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]

for x in to_change:
    size_summary[x]=format_to_perc(size_summary[x])

size_summary

                                     Average Math Score  \
size category school name
Large         Bailey High School              77.048432
              Hernandez High School           77.289752
              Johnson High School             77.072464
              Rodriguez High School           76.842711
Medium        Figueroa High School            76.711767
              Ford High School                77.102592
              Huang High School               76.629414
              Wilson High School              83.274201
Small         Cabrera High School             83.061895
              Griffin High School             83.351499
              Holden High School              83.803279
              Pena High School                83.839917
              Shelton High School             83.359455
              Thomas High School              83.418349
              Wright High School              83.682222

                                     Average Reading Score % Passing Math  \
size category school name
Large         Bailey High School                 81.033963         66.68%
              Hernandez High School              80.934412         66.75%
              Johnson High School                80.966394         66.06%
              Rodriguez High School              80.744686         66.37%
Medium        Figueroa High School               81.158020         65.99%
              Ford High School                   80.746258         68.31%
              Huang High School                  81.182722         65.68%
              Wilson High School                 83.989488         93.87%
Small         Cabrera High School                83.975780         94.13%
              Griffin High School                83.816757         93.39%
              Holden High School                 83.814988         92.51%
              Pena High School                   84.044699         94.59%
              Shelton High School                83.725724         93.87%
              Thomas High School                 83.848930         93.27%
              Wright High School                 83.955000         93.33%

                                    % Passing Reading Overall Passing Rate
size category school name
Large         Bailey High School               81.93%               74.31%
              Hernandez High School            80.86%               73.81%
              Johnson High School              81.22%               73.64%
              Rodriguez High School            80.22%               73.29%
Medium        Figueroa High School             80.74%               73.36%
              Ford High School                 79.30%               73.80%
              Huang High School                81.32%               73.50%
              Wilson High School               96.54%               95.20%
Small         Cabrera High School              97.04%               95.59%
              Griffin High School              97.14%               95.27%
              Holden High School               96.25%               94.38%
              Pena High School                 95.95%               95.27%
              Shelton High School              95.85%               94.86%
              Thomas High School               97.31%               95.29%
              Wright High School               96.61%               94.97%

In [20]:
#remove formatting
for x in to_change:
    size_summary[x]=format_to_plain_number(size_summary[x])

In [21]:
finale_size=size_summary.groupby(["size category"]).mean()
finale_size=finale_size[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
for x in to_change:
    finale_size[x]=format_to_perc(finale_size[x])
finale_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
size category,,,,,
Large,77.063340,80.919864,66.47%,81.06%,73.76%
Medium,78.429493,81.769122,73.46%,84.47%,78.97%
Small,83.502373,83.883125,93.58%,96.59%,95.09%

In [22]:
#remove formatting
for x in to_change:
    finale_size[x]=format_to_plain_number(finale_size[x])

In [23]:
# **Scores by School Type**

# * Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

school_summary["School Type"]=school_summary["School Type"].astype(str)

#finding a subtotal for all the school in the "type" category
#This was an extra step that I do not think was required, but one that I thought was helpful in evaluating the data
temp_summary = pd.DataFrame(school_summary)
finale=pd.DataFrame(temp_summary.groupby(["School Type"]).mean())
finale=finale[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
finale["school name"]="All schools in type category"
finale["School Type"]=finale.index
finale=finale.set_index('school name')


#add the subtotal to the other totals
type_summary = pd.concat([school_summary,finale])

type_summary=type_summary.groupby(["School Type","school name"]).mean()

type_summary=type_summary[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]

#format
to_change=["% Passing Math","% Passing Reading","Overall Passing Rate"]
for x in to_change:
    type_summary[x]=format_to_perc(type_summary[x])

type_summary

                                           Average Math Score  \
School Type  school name
['Charter']  All schools in type category           83.473852
             Cabrera High School                    83.061895
             Griffin High School                    83.351499
             Holden High School                     83.803279
             Pena High School                       83.839917
             Shelton High School                    83.359455
             Thomas High School                     83.418349
             Wilson High School                     83.274201
             Wright High School                     83.682222
['District'] All schools in type category           76.956733
             Bailey High School                     77.048432
             Figueroa High School                   76.711767
             Ford High School                       77.102592
             Hernandez High School                  77.289752
             Huang High School                      76.629414
             Johnson High School                    77.072464
             Rodriguez High School                  76.842711

                                           Average Reading Score  \
School Type  school name
['Charter']  All schools in type category              83.896421
             Cabrera High School                       83.975780
             Griffin High School                       83.816757
             Holden High School                        83.814988
             Pena High School                          84.044699
             Shelton High School                       83.725724
             Thomas High School                        83.848930
             Wilson High School                        83.989488
             Wright High School                        83.955000
['District'] All schools in type category              80.966636
             Bailey High School                        81.033963
             Figueroa High School                      81.158020
             Ford High School                          80.746258
             Hernandez High School                     80.934412
             Huang High School                         81.182722
             Johnson High School                       80.966394
             Rodriguez High School                     80.744686

                                          % Passing Math % Passing Reading  \
School Type  school name
['Charter']  All schools in type category         93.62%            96.59%
             Cabrera High School                  94.13%            97.04%
             Griffin High School                  93.39%            97.14%
             Holden High School                   92.51%            96.25%
             Pena High School                     94.59%            95.95%
             Shelton High School                  93.87%            95.85%
             Thomas High School                   93.27%            97.31%
             Wilson High School                   93.87%            96.54%
             Wright High School                   93.33%            96.61%
['District'] All schools in type category         66.55%            80.80%
             Bailey High School                   66.68%            81.93%
             Figueroa High School                 65.99%            80.74%
             Ford High School                     68.31%            79.30%
             Hernandez High School                66.75%            80.86%
             Huang High School                    65.68%            81.32%
             Johnson High School                  66.06%            81.22%
             Rodriguez High School                66.37%            80.22%

                                          Overall Passing Rate
School Type  school name
['Charter']  All schools in type category               95.10%
             Cabrera High School                        95.59%
             Griffin High School                        95.27%
             Holden High School                         94.38%
             Pena High School                           95.27%
             Shelton High School                        94.86%
             Thomas High School                         95.29%
             Wilson High School                         95.20%
             Wright High School                         94.97%
['District'] All schools in type category               73.67%
             Bailey High School                         74.31%
             Figueroa High School                       73.36%
             Ford High School                           73.80%
             Hernandez High School                      73.81%
             Huang High School                          73.50%
             Johnson High School                        73.64%
             Rodriguez High School                      73.29%

In [24]:
#remove format for further calculations
for x in to_change:
    type_summary[x]=format_to_plain_number(type_summary[x])

In [25]:
#I was not sure if the "client" wanted the above data, by each school, or this simplified version, so I included both
finale=type_summary.groupby(["School Type"]).mean()
finale=finale[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]

#Format

for x in to_change:
    finale[x]=format_to_perc(finale[x])

finale

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
['Charter'],83.473852,83.896421,93.62%,96.59%,95.10%
['District'],76.956733,80.966636,66.55%,80.80%,73.67%